/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*
.button {
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; 
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
*/

.default-color0.chart-series-line { -fx-stroke: red; -fx-stroke-width: 1px;}
.default-color1.chart-series-line { -fx-stroke-width: 1px;}
.default-color2.chart-series-line { -fx-stroke-width: 1px;}
.default-color3.chart-series-line { -fx-stroke-width: 1px;}
.default-color4.chart-series-line { -fx-stroke-width: 1px;}
.default-color5.chart-series-line { -fx-stroke-width: 1px;}
.default-color6.chart-series-line { -fx-stroke-width: 1px;}
/*.default-color1.chart-series-line { -fx-stroke: transparent;}*/

.default-color0.chart-line-symbol { 
	-fx-background-color: transparent, transparent; 		   
}

.default-color0.chart-legend-item-symbol{
	-fx-background-color: red;
    
 }

#colDatum, #colZeit, #colWert, #colGewicht {
  	-fx-alignment: CENTER;
}
